extends layouts/layout

block content 
    form(action=routes.changePassword, method="post")
        input(type="text", name="password", required=true)
        input(type="text", name="newPassword", required=true)
        input(type="text", name="newPassword2", required=true)
        input(type="submit", value="비밀번호 변경")
