extends layouts/layout

block include 
    form(action=`/video/${routes.uploadVideo}`, method="post")
        input(type="file", name="videoFile", required=true)
        input(type="text", name="title", required=true, placeholder="비밀번호를 입력해주세요")
        input(type="submit", value="업로드")
