@import "./_reset.scss";
@import "./_variable.scss";
@import "@toast-ui/editor/dist/toastui-editor.css";
@import "@toast-ui/editor/dist/toastui-editor-viewer.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "NOTO Sans KR";
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
}

body {
  font-family: "NOTO Sans KR";
  letter-spacing: -0.5px;
}

.header {
  .nav {
    display: flex;
    padding: 0 20px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    a {
      color: inherit;
      font-size: $basic_fontSize;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $hover_color;
      }
      &:active {
        color: $active_color;
      }
    }
    .login_container {
      display: flex;
      justify-content: space-around;
      width: 300px;
    }
  }
}

.main {
  margin: 20px 0;
  min-height: 80vh;
  .head_title {
    font-weight: bolder;
    font-size: 2.5em;
    padding: 10px 0;
    margin: 20px 0 20px 20px;
  }
  .content_container {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    grid-gap: 30px;
    .videoBlock:first-child,
    .videoBlock:nth-child(2) {
      grid-column: span 3;
    }
    .videoBlock:nth-child(3),
    .videoBlock:nth-child(4),
    .videoBlock:nth-child(5) {
      grid-column: span 2;
    }
  }
  video {
    width: 100%;
  }
  h3 {
    margin-top: 10px;
    font-size: 0.9em;
  }
}

.content_container {
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-gap: 30px;
  .videoBlock:first-child,
  .videoBlock:nth-child(2) {
    grid-column: span 3;
  }
  .videoBlock:nth-child(3),
  .videoBlock:nth-child(4),
  .videoBlock:nth-child(5) {
    grid-column: span 2;
  }
}
video {
  width: 100%;
}
h3 {
  margin-top: 10px;
  font-size: 0.9em;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 0 20px;
  form {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      border: 0px;
      width: 100%;
      border-bottom: 2px solid rgba(129, 129, 129, 0.466);
      background-color: unset;
      margin-top: 10px;
      font-size: 1.5em;
      padding: 10px;
    }
    .submit_btn {
      margin-top: 10px;
      color: $basic_color;
      border: 2px solid $basic_color;
      padding: 5px 40px;
      font-weight: bold;
      width: 300px;
      &:hover {
        background-color: $basic_color;
        color: #fff;
      }
    }
  }
}

.social_login {
  margin-top: 20px;
  color: $basic_color !important;
  border: 2px solid $basic_color;
  padding: 5px 45px;
  font-weight: bold;
  width: 206px;
  text-align: center;
  &:hover {
    background-color: $basic_color;
    color: #fff;
  }
}

.footer {
  height: 10vh;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
  padding: 10px 20px;
}
