extends layouts/layout
include mixins/videoBlock

block content
    h1.head_title 나의 비디오들
    .content_container 
        each item in video
            +videoBlock({
                id:item.id,
                title:item.title,
                fileUrl:item.fileUrl
            })

